@import "tailwindcss";

@plugin "daisyui" {
  themes: arzoniclight --default, arzonicdark --prefersdark;
}



@plugin "daisyui/theme" {
  name: "arzonicdark";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #111;
  --color-base-200: #131313;
  --color-base-300: #202020;
  --color-base-content: #E4E4E4;
  --color-primary: #048179;
  --color-primary-content: #E4E4E4;
  --color-secondary: #0AA197;
  --color-secondary-content: #E4E4E4;
  --color-accent: #131414;
  --color-accent-content: #E4E4E4;
  --color-neutral: #202020;
  --color-neutral-content: #E4E4E4;
  --color-info: #21847E;
  --color-info-content: #E4E4E4;
  --color-success: #177512;
  --color-success-content: #E4E4E4;
  --color-warning: #AE9F17;
  --color-warning-content: #E4E4E4;
  --color-error: #D82E2E;
  --color-error-content: #E4E4E4;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "arzoniclight";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #EAEAEB;
  --color-base-200: #F8FAFC;
  --color-base-300: #E2E2E2;
  --color-base-content: #171717;
  --color-primary: oklch(51% 0.096 186.391);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #51B2AA;
  --color-secondary-content: #FCFFFC;
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: #D82E2E;
  --color-error-content: #F2F3F5;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

.input {
  font-size: 16px;
}

.textarea {
  font-size: 16px;
}

.select {
  font-size: 16px;
}


/* NavProcess */
.nav-process {
  @apply w-full bg-base-100 z-10;
}

.nav-process.sticky {
  @apply fixed top-0 left-0 right-0 shadow-md w-full;
}

.nav-process-content {
  @apply container mx-auto text-center;
}

/* læg overflow-hidden så fill ikke stikker udenfor */
.progress-bar-container {
  @apply w-full bg-base-200 h-1.5 mt-2 rounded-full overflow-hidden;
}

.progress-bar-fill {
  @apply h-full bg-secondary rounded-full;
}


.background-animation-layer-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #111;

  background-image:
    radial-gradient(circle at 30% 40%, #3b938d44 0%, transparent 15%),
    radial-gradient(circle at 20% 70%, #3b938d55 0%, transparent 15%),
    radial-gradient(circle at 40% 50%, #3b938d4a 0%, transparent 17%);
  background-repeat: no-repeat;
  background-size: 220% 220%;
  animation: moveBackgroundLeft 15s ease-in-out infinite;
  pointer-events: none;
  color: #454545;
}


@keyframes moveBackgroundLeft {
  0% {
    background-position: 30% 40%, 20% 70%, 40% 50%;
  }

  50% {
    background-position: 50% 30%, 30% 80%, 35% 60%;
  }

  100% {
    background-position: 30% 40%, 20% 70%, 40% 50%;
  }
}

@media (max-width: 1024px) {
  .background-animation-layer-left {
    height: 60%;
    background-size: 160% 160%;
    /* mere som desktop, ikke for kompakt */
    background-image:
      radial-gradient(circle at 25% 40%, #3b938d55 0%, transparent 22%),
      radial-gradient(circle at 20% 70%, #3b938d66 0%, transparent 24%),
      radial-gradient(circle at 60% 50%, #3b938d70 0%, transparent 23%);
    animation: moveBackgroundMobile 16s ease-in-out infinite;
  }

  @keyframes moveBackgroundMobile {
    0% {
      background-position: 28% 38%, 22% 72%, 58% 52%;
    }

    50% {
      background-position: 44% 34%, 30% 78%, 72% 48%;
    }

    100% {
      background-position: 28% 38%, 22% 72%, 58% 52%;
    }
  }
}

/* ===== HØJRE SIDE ===== */
.background-animation-layer-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #111;

  background-image:
    radial-gradient(circle at 50% 50%, #3b938d44 0%, transparent 20%),
    radial-gradient(circle at 55% 60%, #3b938d55 0%, transparent 22%),
    radial-gradient(circle at 65% 45%, #3b938d4a 0%, transparent 24%);
  background-repeat: no-repeat;
  background-size: 220% 220%;
  animation: moveBackgroundRight 18s ease-in-out infinite;
  pointer-events: none;
  color: #454545;
  will-change: background-position;
}

@keyframes moveBackgroundRight {
  0% {
    background-position: 70% 44%, 80% 68%, 60% 54%;
  }

  50% {
    background-position: 56% 38%, 70% 76%, 66% 58%;
  }

  100% {
    background-position: 70% 44%, 80% 68%, 60% 54%;
    /* match 0% */
  }
}

@media (max-width: 1024px) {
  .background-animation-layer-right {
    height: 100%;
    background-size: 180% 180%;
    background-image:
      radial-gradient(circle at 50% 50%, #3b938d66 0%, transparent 20%),
      radial-gradient(circle at 55% 60%, #3b938d77 0%, transparent 25%),
      radial-gradient(circle at 65% 45%, #3b938d88 0%, transparent 27%);
    animation: moveBackgroundMobileRight 18s ease-in-out infinite;
  }

  @keyframes moveBackgroundMobileRight {
    0% {
      background-position: 70% 44%, 80% 68%, 60% 54%;
    }

    50% {
      background-position: 56% 38%, 70% 76%, 66% 58%;
    }

    100% {
      background-position: 70% 44%, 80% 68%, 60% 54%;
    }
  }
}

.background-fade-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, transparent, #111);
  pointer-events: none;
}

.background-fade-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, transparent, #111);
  pointer-events: none;
}

@media (max-width: 1024px) {
  .background-fade-bottom {
    height: 200px;
    bottom: 380px;

  }
}

@media (max-width: 768px) {
  .background-fade-bottom {
    height: 300px;
    bottom: 320px;

  }
}

.screen-fade-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 800px);
  background: linear-gradient(to bottom, transparent, #111);
  pointer-events: none;
  z-index: 50;

  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

/* .bg-one,
.bg-two {
  background-image: url('/backgrounds/noise.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.bg-one>*,
.bg-two>* {
  position: relative;
  z-index: 1;
}


@-moz-document url-prefix() {

  .bg-one,
  .bg-two {
    background-image: none;
  }

  .bg-one::before,
  .bg-two::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/backgrounds/noise-ff.svg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1717177a;
    z-index: 0;
    pointer-events: none;
  }
} */


/* Bullet & number list fix */
.tiptap-list-style ul {
  padding-left: 0.7rem;
  list-style-position: inside;
}

.tiptap-list-style ul>li {
  list-style-type: disc;
  display: list-item;
}


.tiptap-list-style li>p {
  margin: 0;
  display: inline;
}

.tiptap-list-style h3 {
  @apply text-lg font-bold mt-3 mb-2;
}

.tiptap-list-style h4 {
  @apply text-lg font-medium mt-2 mb-1;
}